@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    @apply bg-amber-500 text-slate-100;
}
body, html{
    @apply text-lg bg-blue-950;
}
body > div{
    @apply  overflow-x-clip w-full;
}
nav a{
    @apply text-base;
}

.underline_animated, main a, header.locatie a{
    @apply relative;
}

.underline_animated:after, main a:after, header.locatie a:after{
    @apply block w-0 bg-current absolute top-[90%] right-0 left-auto transition-all duration-300;
    height:1px;
    content: "";
}
main a:after{
    @apply top-full;
}
.underline_animated:hover, main a:hover, .underline_animated.underline_animated_active, header.locatie a:hover{
    @apply after:left-0 after:right-auto after:w-full;
}

header, section, main{
    @apply relative z-10;
}

p{
    @apply md:text-lg text-base;
}
p.has-large-font-size{
    @apply text-xl;
}
p.has-text-align-center{
    @apply text-center;
}
h1{
    @apply md:tracking-widest tracking-wider font-bold md:text-5xl sm:text-4xl text-3xl;
}
h2{
    @apply text-2xl md:text-3xl lg:text-4xl md:leading-snug leading-snug;
}
h3{
    @apply text-lg md:text-xl font-medium md:leading-snug leading-snug;
}
h4{
    @apply tracking-wider font-medium text-base md:text-lg md:leading-snug leading-snug;
}
h5{
    @apply text-sm tracking-very-wide uppercase font-black text-blue-gray;
}

footer a{
    @apply underline underline-offset-4 font-medium tracking-wider transition-colors hover:text-rose-400;
}
main a, a.rose{
    @apply text-rose-400 transition-colors hover:text-rose-500;
}
main p{
    @apply mb-3;
}
main h1, main h2, main h3, main h4, main h5{
    @apply mb-3 mt-8;
}
main h3{
    @apply lg:text-2xl text-blue-gray font-medium tracking-wider;
}
main img{
    @apply rounded-lg shadow-md;
}
main figure{
    @apply mb-6 mt-8;
}
main .wp-block-embed{
    @apply w-full relative aspect-video;
}
main .wp-block-embed .wp-block-embed__wrapper{
    @apply top-0 left-0 w-full h-full rounded-lg overflow-clip shadow-md;
}
main .wp-block-embed iframe{
    @apply w-full h-full;
}
main figcaption{
    @apply text-sm text-blue-gray tracking-wider text-right;
}

main ul{
    @apply list-disc list-inside my-3;
}
main ol{
    @apply list-decimal list-inside my-3;
}

.max-w-wrapper > *{
    @apply max-w-screen-2xl mx-auto;
}
.max-w-wrapper > footer, .max-w-wrapper > #navigation{
    @apply max-w-none mx-0;
}

.ohnohoney{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}